
*{
margin : 0px
}


.Titulo{







}
.AgeofEmpires{
  background-color: green;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: left;
  font-size : 50px

}
.Historia1{
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  font-size : 40px
  text-align: center;

}
.Historia2{
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
  font-size : 30px
}
body {

    background-color: lightblue;
}
.Texto{

 font-size:20px

}
